**/*.ipynb_checkpoints
**/*.pyc
**/*.swp
*.egg-info
*.gz
*.idea
*.log
*.out
*.pyc
*.swp
*.tar
*.xml
*.zip
*.bson
.DS_Store
.RData
.Rhistory
.coverage
.eggs
.env
.pytest_cache
.tenv
airflow/*
!airflow/dags
!airflow/airflow.cfg
docker-compose.yml
dump*
env
lib
dist/*
